
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



#app {
    width: 300px;
    aspect-ratio: 9/16;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.city {
    width: 100%;
    height: 50px;
    background-color: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city_text {
    font-size: 1.5rem;
    font-weight: bold;
}

.main_container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
} 

.main_container_icon {
    width: 200px;
    aspect-ratio: 1/1;
}

.main_container_temp {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: -50px;
}

.main_container_details {
    font-size: 1rem;
    position: relative;
    top: -25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #87ceeb;
    height: 100px;
}

.footer_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: calc(100% / 3);
}

.withBorder {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}


.icon {
    width: 30px;
    aspect-ratio: 1/1; 
                 
}

.big {
    width: 50px;
}  

.wind, .humidity, .rain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loading {    
    width: 20px;
    aspect-ratio: 1/1;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid transparent;
    border-radius: 100%;
    animation: spin 1s linear infinite;    
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}
